<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li><a href="/#/income-proving-query">Individual's details</a></li>
    </ol>
</div>

<h1 class="form-title heading-large">
    <span id="pageDynamicHeading">There is no record for {{vm.model.nino}} with HMRC</span>
</h1>

<p class="lede"><span id="pageDynamicSubText">We couldn't perform the financial requirement check as no income information exists with HMRC for the
    National Insurance Number {{vm.model.nino}}.</span></p>

<h2 class="heading-medium">
    Your search
</h2>

<table>
    <thead>
    <tr>
        <th scope="col">National Insurance Number</th>
        <th scope="col">Application date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span id="yourSearchNationalInsuranceNumber">{{vm.model.nino}}</span></td>
        <td><span id="yourSearchApplicationRaisedDate">{{vm.formatDate()}}</span></td>
    </tr>
    </tbody>
</table>
<br/>
<div class="form-group">
    <input type="submit" class="button" value="Start a new search" ng-click="vm.newSearch()">
</div>
