<div class="error-summary" ng-if="vm.serverError !== ''">
    <h1 class="heading-medium error-summary-heading" id="server-error-summary-heading">
        Something's gone wrong
    </h1>
    <p id="serverError">You can’t use this service just now. The problem will be fixed as soon as possible</p>
    <p id="serverErrorDetail">Please try again later.</p>
</div>

<div class="column-full-width">
    <div id="page1">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">Financial requirement check</span>
            Family Migration
        </h1>
        <h1 class="form-title heading-large" id="pageSubTitle">
            Individual's details
        </h1>

        <div class="text">
            <p class="lede" id="pageSubText">
                You can check an individual meets the Category A requirement using a National Insurance Number.
            </p>
        </div>
        <form name="vm.queryForm" ng-submit="vm.submit()">
            <div ng-if="vm.validateError" class="error-summary"
                 role="group" aria-labelledby="validation-error-summary-heading" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="validation-error-summary-heading">
                    There's some invalid information
                </h1>

                <p id="validation-error-summary-text">Make sure that all the fields have been completed</p>

                <ul class="error-summary-list" id="error-summary-list">

                    <li ng-if="vm.ninoNotFoundError">
                        <a href="" ng-click="vm.scrollTo('nino')">The National Insurance Number was not found</a></li>
                    <li ng-if="vm.ninoInvalidError">
                        <a href="" ng-click="vm.scrollTo('nino')">The National Insurance Number is invalid</a></li>
                    <li ng-if="vm.ninoMissingError">
                        <a href="" ng-click="vm.scrollTo('nino')">The National Insurance Number is invalid</a></li>
                    <li ng-if="vm.dateMissingError">
                        <a href="" ng-click="vm.scrollTo('applicationRaisedDateDay')">The application raised date is invalid</a></li>
                    <li ng-if="vm.dateInvalidError">
                        <a href="" ng-click="vm.scrollTo('applicationRaisedDateDay')">The application raised date is invalid</a></li>

                    <li ng-if="vm.dependantsInvalidError">
                        <a href="" ng-click="vm.scrollTo('applicationRaisedDateDay')">The number of dependants is invalid</a></li>
                </ul>
            </div>

            <div>
                <div class="form-group"
                     ng-class="{error : vm.restError || vm.ninoInvalidError || vm.ninoMissingError }">
                    <label for="nino" class="form-label-bold">
                        National Insurance Number
                    </label>
                    <span class="form-hint">For example, 'QQ 12 34 56 C'.</span>
                        <span id="nino-error" class="error-message"
                              ng-if="vm.ninoMissingError">Enter a valid National Insurance Number</span>

                    <span id="nino-error" class="error-message" ng-if="vm.ninoNotFoundError">
                        National Insurance Number was not found</span>
                        <span id="nino-error" class="error-message" ng-if="vm.ninoInvalidError">
                            Enter a valid National Insurance Number</span>
                    <input type="text" id="nino" name="nino" class="form-control" ng-model="vm.model.nino"
                           autocomplete="off">
                </div>

                <div class="form-group" ng-class="{error : vm.dependantsInvalidError }">
                    <label class="form-label-bold" for="dependants" id="no-dependants">
                        Number of Dependants
                        <span class="form-hint">You can leave this blank for no dependants.</span>
                    </label>
                    <span id="dependants-error" class="error-message" ng-if="vm.dependantsInvalidError">
                                    Enter a valid number of dependants</span>
                    <input type="number" class="form-control form-control-1-8" name="dependants" id="dependants"
                           ng-model="vm.model.dependants" autocomplete="off">
                </div>

                <div class="form-group " id="to-date" ng-class="{error : vm.dateMissingError || vm.dateInvalidError}">

                    <fieldset>
                        <legend class="form-label-bold">When was the application raised?</legend>
                        <div class="form-date">
                            <p class="form-hint">For example, 31 3 1980</p>
                                <span id="application—raised-date-error" class="error-message" ng-if="vm.dateInvalidError">
                                    Enter a valid application raised date</span>
                                <span id="application—raised-date-error" class="error-message" ng-if="vm.dateMissingError">
                                    Enter a valid application raised date</span>

                            <div class="form-group form-group-day">
                                <label for="applicationRaisedDateDay">Day</label>
                                <input class="form-control" name="applicationRaisedDateDay" id="applicationRaisedDateDay" type="number"
                                       pattern="[0-9]*" ng-model="vm.model.fromDateDay" autocomplete="off">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="applicationRaisedDateMonth">Month</label>
                                <input class="form-control" name="applicationRaisedDateMonth" id="applicationRaisedDateMonth"
                                       type="number" pattern="[0-9]*" ng-model="vm.model.fromDateMonth"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="applicationRaisedDateYear">Year</label>
                                <input class="form-control" name="applicationRaisedDateYear" id="applicationRaisedDateYear" type="number"
                                       pattern="[0-9]*" ng-model="vm.model.fromDateYear" autocomplete="off">
                            </div>
                        </div>

                    </fieldset>
                </div>
                <div class="form-group">
                    <p><input type="submit" class="button continue-button" value="Check eligibility"></p>
                </div>
            </div>
        </form>
    </div>
</div>
