<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li><a href="/#/income-proving-query">Individual's details</a></li>
    </ol>
</div>

<h1 class="form-title heading-large">
    There is no record for XXXXXXXXX with HMRC
</h1>

<p class="lede">We couldn't perform the financial requirement check as no income information exists with HMRC for the
    National Insurance Number XXXXXXXXX.</p>

<h2 class="heading-medium">
    Your search
</h2>

<table>
    <thead>
    <tr>
        <th scope="col">National Insurance Number</th>
        <th scope="col">Application date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>XXXXXXXXX</td>
        <td>XX/XX/XXXX</td>
    </tr>
    </tbody>
</table>

<div class="form-group">
    <input type="submit" class="button" value="Start a new search" ng-click="vm.newSearch()">
</div>
